
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
  --primary-color:#0F580E;
  --sub-color:white;
  --contact-color:yellow;
  --sub-border-color:#f8dfb2;
  --sect-back:#eee;
  --default-color:black;
  --list-hover:#02a388;
  --nav-background:#f9fcff;
}

nav{
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 0px;
  z-index: 998;
  background: var(--nav-background);

}
  nav .navbar{
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  .logo img{
    width: 11%;
    vertical-align: middle;
  }
  
  nav .navbar .logo span a{
    font-family: 'Black Ops One', 'cursive';
    font-size: 46px;
    color: var(--primary-color);
    margin-left: 1.5%;
    vertical-align: middle;
  }

  .menu-icons{
    display: none;
  }
  
  nav .navbar .menu{
    display: flex;
    gap: 2rem;

  }
  nav .navbar .menu li{
    display: flex;
    align-items: center;
  }
  .navbar .menu li a{
    font-size: 24px;
    color: var( --default-color);
  }

.navbar .menu  li .button{
    border: none;
    background-color: var(--sub-color);
}



  /* home image  and text*/

  .home-sect{
    position: relative;
    margin-bottom: -8px;
  }
  .home-img img{
    width: 100%;
    height: auto;
  }
  .text{
    position: absolute;
    top: 19%;
    right: 0;
    width: 99%;
    display: flex;
  justify-content: end;
  }

  .text h1{
    text-transform: uppercase;
    color:var(--sub-color);
   text-shadow: 1px -2px 19px rgba(0,0,0,0.67);
   font-size: clamp(2.4rem, 5vw, 8rem);
    font-family: "poppins";
    padding-right: 3%;
    text-align: center;
  }

  /* intro section */

  .intro{
    background-color: var(--sect-back);;
    padding: 6% 3% 4%  ;
  }
  .intro-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 3%;
    padding-bottom: 5%;
  }
  
  .left .left-text-one{
    border: 4px solid var( --primary-color);
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    line-height: 40px;
  }

  .left .left-text-one,
  .right .right-text-one h3,
  .right-text-two h3{
    font-size: 26px;
  }

 
  .left .left-text-two{
    text-align: justify;
    font-size: 22px;
    margin-top: 15px;
    word-spacing: 2px;
  }
  .intro .intro-text .right{
    text-align:justify;
  }

 
  .right .right-text-one p, 
  .right .right-text-two p{
    font-size: 22px;
    margin-top: 6px
  }
   .right .right-text-two{
    margin-top: 17px;
  }
  .intro-btn{
    text-align: center;
  }
  .intro-btn button{
    z-index:1 ;
    padding: 5px 16px;
    border-radius: 8px;
    font-size: clamp(20px,1.8vw,38px);
    font-weight: 400;
    background:var( --primary-color);
    color:var(--sub-color);
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
    transition: all 0.8s ease;
  }
 
  .intro-btn button:hover{
    transform: scale(1.1);
  }


/* section 3 */

.slider{
  width: 100%;
  overflow: hidden;
}

.slider .slide-track{
  display: flex;
  align-items: center;
  width: calc(250px*18);/* means 1 img size=250px */
  animation: scroll 25s linear infinite;
  position: relative;
  z-index: -100;


}

.slider .slide-track .slide{
  padding: 20px;
}
.slider .slide-track  .slide img{
  max-width: 100%;
  height: auto;
}


@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*9));
  }
}


  /* banner img */

  .banner-img img{
    width: 100%;
  }


  /* scrolltotop */

  .scrolltop .bi{
    position: fixed;
  bottom: 1%;
  right: 2%;
  color: var(--primary-color);
  cursor: pointer;
  z-index: 1;
  font-size: 3rem;
  }
  

 /* section 4 */
 .fourpack-container{
  margin: 1rem 2rem 1.5rem
}
.fourpack-container h1,h3,p{
  font-weight: 400;
  line-height: 1.5;
}
.fourpack-start h1{
  font-size: clamp(23px,2vw,50px);
}
.fourpack{
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6%;
}
.fourpack-start{
  margin-bottom: 20px;
}
.left-content{
  width: 49%;
}
.left-content figure{
  margin-right:5%;

}
  .left-content article{
    display: flex;
    align-items: center;
    padding: 12px 0px;
  }
  .left-content article h3{
    font-size: clamp(20px,1.6vw,43px);
  }
  .fourpack-container p, article p{
   font-size: clamp(17px,1.3vw, 33px);
 
  }

  .right-content{
    display: flex;
    justify-content: center;
      position: relative;
      width:49%
  }
  
 .right-img img{
    height: 515px;
  }
  .right-content-video {
    position: absolute;
    top: 35.4%;
    left: -1%;
    height: 12rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .right-content-video video{
    max-width: 100%;
    border: 5px solid var(--sub-border-color);;
    height: auto;
  }


  /* plant care cards */
.gallery-container{
  background-color: var(--sect-back);;
  padding: 0% 4% 4%;
}

.txt{
text-align: center;
}

.txt h3 {
  text-transform: uppercase;
  font-size: clamp(24px,2vw,53px);
  padding: 19px;
}

.gallery-sub-container{
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 1rem;
}




.card .details{
  padding: 8px;
  background-color:var(--sub-color);
  border: 1px solid #dae8e7;
}
.card .image {
overflow: hidden;
}

.card .image img{
  display: block;
  width: 100%;
  max-height: 100%;
  transition: .5s;
}

.card .image img:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

  /* flip cards */

  .sect-name{
    text-align: center;
    margin-top: -15px;
   }
   .sect-name span{
     background-color: var(--primary-color);
     color: var(--sub-color);
     border-radius: 15px;
     padding: 10px 19px;
    font-size: clamp(19px, 1.8vw, 40px);
     text-transform: capitalize;
   }
 
   .card-holder {
    display: grid;
   grid-template-columns: repeat(3,auto);
   align-content: center;
   row-gap: 6%;
   padding: 50px 0px;
   margin: 0 auto;
    width: 89%;
}
.flip-card-wrapper, .flip-card-wrapper .card {
 height: 275px;
 max-width: 300px;
 margin: 0 auto;
 position: relative;
}
.flip-card-wrapper {
 perspective: 900px;
}
.flip-card-wrapper .card {
 text-align: center;
 transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
 transform-style: preserve-3d;
}
.flip-card-wrapper:hover .card {
 transform: rotateY(180deg);
}
.card-front, .card-back {
 width: 290px;
 position: relative;
 top: 0;
 left: 0;
 backface-visibility: hidden;
}
.card-front {
 cursor: pointer;
 height: 100%;
 backface-visibility: hidden;
 border-radius: 50px;
 background-size: cover;
 background-position: center center;
}
.card-front1{
 
 background-image: url("https://th-i.thgim.com/public/news/national/karnataka/b7fgyh/article24962848.ece/alternates/FREE_1200/13BG-PALEKAR")
}
.card-front2{
  background-image: url("https://i0.wp.com/vikalpsangam.org/wp-content/uploads/2023/03/PV-Satheesht-DDC-image.jpg?resize=640%2C640&ssl=1")
}

.card-front3{
background-image: url("https://ugchrdc.uoc.ac.in/images/Sabu.jpg")
}


.card-back {
 transform: rotateY(180deg);
 position: absolute;
 border-radius: 50px;
 height: 275px;
 background:var(--sub-color);
 border: 3px solid var(--sub-border-color);;
}
.content {
 margin-top: 20px;
}
.content h2 {
 font-size: 21px;
 letter-spacing: 1px;
 text-transform: uppercase;
}
.content h4 {
 font-size: 22px;
 padding-top: 4px;
 text-transform: capitalize;
}
.content .about{
 padding: 10px 15px 0px;;
 font-size: 16px;
}
.social-media {
 padding-top: 5%;
}

.social-media i {
 font-size: 2rem;
 margin: 0 8px;
}



/* krishi bhavan */
.contact-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem 1rem;
  padding: 0% 4%;
}

.left-sect figure img{
  width: 100%;
  height: auto;
}
.contact-info{
  margin-top: 15px;
}
.address,.number,.mail{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 19px;
}
.address div,.number div,.mail div{
  font-size: clamp(16px,1.31vw,33px);
  margin-left: 10px;
}

.number div,.mail div{
  background-color: var(--contact-color);
  border-radius: 6px;
  padding: 7px;
}

.right-sect .abt h3{
  font-size: clamp(30px,2vw,53px);
}
.right-sect .abt p{
  margin-top: 8px;
  font-size: clamp(17px,1.5vw,38px);
  text-align: justify;
}
.right-sect div{
  text-align: center;
}
.right-sect div iframe{
  margin-top: 25px;
  width: 100%;
  height: 32vw;
}

/* go to new page  */

.newpage{
  text-align: center;
  margin-top: 4%;
}
.newpage button{
  background-color: var(--primary-color);
  padding: 3px  19px;
  border: 2px solid transparent;
  border-radius: 6px;
  font-size: clamp(20px,1.8vw,38px);
  transition: all 0.8s ease;
}
.newpage button a{
  color:var(--sub-color);
}

.newpage button:hover{
  transform: scale(1.1);
}


  /* Footer CSS */
.foot-container{
 display: flex;
 justify-content: space-between;
 background-color: var(--sect-back);;
 padding: 50px 45px;
  margin-top: 4%;

}
.sect-1 .site-name a{
  font-family: 'Black Ops One', 'cursive';
    font-size: 46px;
    color: var(--primary-color);
}
.sect-1 .caption h2{
  font-weight: 400;
}
.foot-social-media ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  margin-top: 9px;
}

.foot-social-media ul li .bi{
  font-size: 1.6rem;
}

.name p{
  font-weight: 600;
  font-size: 24px;
  color: var( --default-color);
  margin-bottom: 10px;
}

.foot-nav li a {
  line-height: 1.5;
  font-size: 24px;
  color: var( --default-color);
  text-transform: capitalize;
}


.sect-3 .input input{
  width: 18rem;
  padding: 3px 13px;
  font-size: 18px;
  border: 1px solid #adb9ba;
border-radius: 5px;
}

.input input:focus{
  outline: none;
}

.foot-button{
  margin-top: 10px;
}
.foot-button button{
  padding: 5px 10px;
  font-size: 19px;
  color: var(--sub-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: 10px;
}

#subscribed{
  font-size: clamp(18px,1.2vw,24px);
  margin-top: 10px;
  text-transform: capitalize;
  color: var(--primary-color);
  font-weight: 600;
}

 
.support-items ul li{
  margin-top: 8px;
  font-size: 20px;
}
.support-items ul li a{
  color: var( --default-color);
}
.copyright-sect{
  padding: 20px;
}
.copyright-sect p{
  text-align: center;
  font-size: 20px;
}

 /* media queries */

  /* min-queries */

 @media screen and (min-width:1800px) {

  .intro-text{
    padding-bottom: 3%;
  }
  .left .left-text-one, 
  .right .right-text-one h3,
   .right-text-two h3 {
    font-size: 40px;
}
.left .left-text-one{
  padding: 25px;
  line-height: 54px;
}
  .left .left-text-two,
  .right .right-text-one p, 
  .right .right-text-two p {
  font-size: 34px;
}

  .slider .slide-track{
    width: calc(250px*26);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
  } 
    100% {
      transform: translateX(calc(-250px*13));
  }
  }

  .right-img img {
    height: 600px;
}
  .right-content-video{
    height: 14rem;
  }

  .card-holder{
    width: 80%;
  }

  .flip-card-wrapper, .flip-card-wrapper .card{
    height: 380px;
  }

  .card-front, .card-back {
    width: 343px;
    height: 380px;
}
.content h2{
  font-size: 34px;
}
.content h4{
  font-size: 29PX;
}
.content .about{
  font-size: 22px;
}
.social-media i {
  font-size: 2.8rem;

}
 
 }

 @media screen and (min-width:1500px) {
  .logo img{
    width: 12%;
  }

  nav .navbar .logo span a,
  .sect-1 .site-name
  {
    font-size: 56px;
  }

  .navbar .menu li a{
    font-size: 32px;
  }

  .sect-1 .caption h2 {
    font-size: 35px;
}

.scrolltop .bi{
  font-size: 4.5rem;
}

.name p{
  font-size: 35px;
}

  .foot-social-media ul li .bi {
    font-size: 2.6rem;
  }

  .foot-nav li a, .support-items ul li,.copyright-sect p{
    font-size: 30px;
  }
  .sect-3 .input input {
    width: 24vw;
    font-size: 30px;
  }
  .foot-button button{
    font-size: 28px;
  }
 }

 @media screen and (min-width:1000px) {

  .gallery-sub-container{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 10px 22px;
  }
  
  .card-1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  
  .card-4{
    grid-column: 3/5;
    grid-row: 2/4;
  
  }
 }

 /* max-queries */

@media screen and (max-width:1100px) {

  .contact-container{
    grid-template-columns: auto;
  }
}

@media screen and (max-width:1000px) {

  .fourpack{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .left-content,.right-content {
    width: 90%;
}
  .left-content article h3{
    text-align: left;
  }
  .left-content article p{
    text-align: justify;
  }
  .right-content{
    margin-top: 3%;
  }
  
  .card-holder{
    margin-top: 10%;
    grid-template-columns: auto auto;
  }
  .foot-container {
    flex-direction: column;
    align-items: start;
  }
  .sect-2, .sect-3, .sect-4{
    margin-top: 3%;
  }
  .sect-3 .input input{
    width: 15rem;
  }
}



@media screen and (max-width:872px) {

  .menu-icons{
    display: block;
  }
  
  #menu-icon .bi, #close-icon .bi{
    z-index: 100;
    color: var( --default-color);
  }
  
  #menu-icon .bi{
  position: sticky;
    top: 2.8%;
    right: 4%;
    font-size: 45px;
  }
  
  #close-icon .bi{
    position: absolute;
    top: 29%;
    right: 2.7%;
    font-size: 35px;
    display: none;
}

  .navbar .menu{
    display:flex;
    flex-direction: column;
    padding: 58px 95px;
    background-color:rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: calc(-100% - 1px);
    transition: 1.6s all;
  }

  .navbar .menu li a {
    color: var(--sub-color);
  }
  
  .navbar .menu li a:hover
  {
    color:var(--list-hover);;
  }
  .navbar .menu li .button{
    background-color: transparent;
  }
  

  .intro {
    padding: 3% 5% 4%;
}
  .intro-text{
  grid-template-columns:auto;
  }
  
  .gallery-container{
  padding: 0% 3% 6%;
  }
  .gallery-sub-container{
    grid-template-columns: repeat(2,auto);
  }
}

@media screen and (max-width:800px) {
  .left-content article {
    display: flex;
    flex-direction: column;
  }
  .left-content article h3, .left-content article p{
    text-align: center ;
  }

  .banner-img img{
    display: none;
  }

  .right-img img{
    height: 400px;
  }
  .right-content-video{
    height: 9.3rem;
  }
}

@media screen and (max-width:700px){

  .intro-btn{
    margin-top: 10%;
  }

  .home-img img{
    height: 22rem ;
  object-fit: cover;
  }
  .left .left-text-one,
  .right .right-text-one h3, 
  .right-text-two h3{
    font-size: 25px;
  }

  .slider .slide-track{
    width:calc(250px*17);
  }
  
  .card-holder{
    grid-template-columns: auto;
    row-gap: 3%;
  }
}


@media screen and (max-width:520px) {
 
  .right-img img{
    height: 340px ;
  }
  .right-content-video {
    height: 7.8rem ;
}
.gallery-container{
  padding: 0% 3% 9%;
}
  
.gallery-sub-container{
  grid-template-columns: auto;
}
}


@media screen and (max-width:500px) {

  nav .navbar .logo span a , .sect-1 .site-name a {
    font-size: 35px;
  }

  #menu-icon .bi {
    font-size: 39px;
}
#close-icon .bi {
    right: 3%;
  font-size: 30px;
}


.navbar .menu{
  padding: 30px 76px;
}
.navbar .menu li a {
  font-size: 20px;
}

 .left-text-two,
 .right-text-one h3, 
.right-text-two h3,
.right-text-one p, 
.right-text-two p

  {
    hyphens: auto;
  }

.slider .slide-track {
  width: calc(250px*14);
}

.scrolltop .bi {
  font-size: 2.4rem;
}

  .address{
    justify-content: flex-start;
  }
  .contact-us {
    flex-direction: column;
    align-items: flex-start;
  }
  .mail{
    margin-top: 18px;
  }
  .right-sect div iframe{
    height: 300px;
  }
  .newpage{
    margin-top: 8%;
  }

  .foot-container{
    margin-top: 8%;
  }

  .foot-social-media ul li .bi {
    font-size: 1.4rem;
}

  .sect-1 .caption h2,
  .name p, 
  .foot-nav li a
  {
    font-size: 20px;
  }
  .support-items ul li{
    font-size: 16px;
  }
  .copyright-sect p
  {
    font-size: 15px;
}
}


@media screen and (max-width:450px){
  .logo img{
    width: 12%;
  }
}

@media screen and (max-width:400px) {

  .left .left-text-one,
  .right .right-text-one h3, 
  .right-text-two h3{
    font-size: 21px ;
  }

  .left .left-text-two,
  .right .right-text-one p, 
  .right .right-text-two p
  {
    font-size: 19px;
  }


  .slider .slide-track{
    width: calc(250px*13);
  }
  .right-content{
    width: 100%;
  }
  .right-img img {
    height: 275px;
}
  .right-content-video{
    height: 6.3rem;
  }
  .gallery-container{
    padding: 0% 3% 13%;
  }


  .card-front , .card-back{
    width: 290px;
    height: 250px;
  }
  .content{
    margin-top: 14px;
  }
  .content .about{
    padding: 5px 8px 0px;
  }
  .content .social-media{
    padding-top: 1%;
  }

  .sect-1 .site-name{
    font-size: 40px;
  }

  .right-sect div iframe {
    height: 200px;
}
}

@media screen and (max-width:350px) {

  
  nav .navbar .logo span a {
    font-size: 32px;
}
#menu-icon .bi {
  top: 2.2%;
  font-size: 37px;
}
#close-icon .bi{
  top: 3.5%;
  right: 5.3%;
    font-size: 28px;
}

  .intro-btn {
    margin-top: 13%;
}

.right-img img {
  height: 230px;
}
.right-content-video{
  height: 5.3rem;
}

  .card-holder{
    row-gap: 0%;
  }
  .card-front, .card-back {
    width: 230px;
    height: 230px;
}
.content h2{
  font-size: 20px;
}
.content h4 {
  font-size: 18px;
  padding-top: 0px;
}
.content .about{
  padding: 3px 8px 0px;
  font-size: 14px;
}
.social-media{
  padding-top: 4%;
}
.social-media i{
  font-size: 1.8rem;
}
}


