@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    padding: 0;
    margin: 0;
    color: #181616;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

:root{
    --heading-background:rgba(251,237,203,1);
    --background:#e5e5e5;
}


.main-container{
width: 100%;
min-height: 300vh;
}
.sub-container{
    width: 70%;
    margin: 0 auto;
    padding:55px 0px 66px 0px;
    position: relative;
}
#translate{
    margin-top: 40px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 3%;
}
.field-container{
    width: 80%;
    margin-top: 1.125rem;
}
.field{
    Border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    display: flex;
    text-transform: capitalize;
}
.field .field-label{
    background-color: var(--background);
    min-width: 37%;
    font-weight: 600;
    font-size: clamp(15px,1.3vw,32px);
}
.field-label::after{
    content: ":";
}
.field-label, .field-item{
    padding: 0.4em;
    font-size: clamp(15px,1.3vw,32px);
}
.field-item{
    margin-left: 0.5rem;
}

.title{
    
    font-size: clamp(29px,4vw,90px);
}
h1,h2,h3,h4,h5{
   text-transform: capitalize;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    font-weight: bold;
}
h3{
    font-size: clamp(21px,2.4vw,58px);
}
h4{
    font-size: clamp(19px,1.7vw,43px);
   
}
p img,.text-content img{
    margin-top: 1rem;
    width: 100%;
    /* height: auto !important; */
    height: 31vw;
    object-fit: cover;
    display: block;
}
.frame-container{
    text-align: center;
}

iframe{
    width: 86%;
    height: 433px;
}

ul{
    margin-left: 2.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    list-style-type: disc;
}

ol{
    padding-left: 50px;
}
.name{
    text-align: center !important;
    padding: 10px;
    background: var(--heading-background);
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: clamp(24px,2.3vw,50px);
    text-transform: uppercase;
    letter-spacing: .09em;
}
.text-content p:not(table p), 
.text-content ul li,
.text-content ol li
{
    font-size: clamp(17px,1.5vw,35px);
    line-height: 1.5em;
}
.text-content p:not(table p){
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
    
}
.text-content p:first-child:not(table p){
    margin-top: 0;
}

/* table */

.text-content table{
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
    border-collapse: collapse;
    
}
table, thead, tbody, tr, th, td {
    border: 2px solid #E5E3E2;
    
}
thead tr{
    font-weight: 700;
    background-color: var(--background);
}
th,td{
    padding: 0.8em;
}
table th{
    letter-spacing: 0.02em;
    font-size: clamp(11px,1.3vw,35px);
    line-height: 1.55rem;
    
}
table thead th{
    border-bottom: 2px solid #455775;
}
tbody td{
    font-size: 17px;
    line-height: 1.4rem;
}
table p{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
caption{
    text-align: center;
}


/* min-queries */


@media screen and (min-width:1500px) {
    .sub-container{
        width:80% ;
    }

    .goog-te-gadget .goog-te-combo {
        font-size: 18px;
    }

    .goog-te-gadget , .VIpgJd-ZVi9od-l4eHX-hSRGPd{
        font-size: 16px !important;
    }

    .goog-te-gadget img {
        width: 50px;
        height: 17px;
    }

    .frame-container{
        text-align: center;
    }
    iframe {
        width: 82%;
        height: 575px;
    }
    tbody td {
        font-size: 23px;
        line-height: 1.5;
    }
    table, thead, tbody, tr, th, td {
        border: 3px solid #E5E3E2;
    }
}

@media screen and (min-width:2000px) {
    
    .sub-container{
        width:90% ;
    }
    #translate {
        right: 8%;
    }
    .goog-te-gadget .goog-te-combo {
        font-size: 23px;
    }

    .goog-te-gadget, .VIpgJd-ZVi9od-l4eHX-hSRGPd {
        font-size: 22px !important;
    }

    .goog-te-gadget img {
        width: 63px;
        height: 28px;
    }
    
    iframe {
        height: 743px;
    }
    tbody td {
        font-size: 27px;
    }
    table, thead, tbody, tr, th, td {
        border: 4px solid #E5E3E2;
    }
}


/* max-queries */

@media screen and (max-width:1080px) {
    iframe {
        height: 380px;
    }
}


@media screen and (max-width:900px) {
    .sub-container{
        width:81% ;
    }
    iframe{
        width: 90%;
    }
}


@media screen and (max-width:800px) {
    .field-container{
        width:100% ;
    }

    iframe {
        height: 311px;
    }
}


@media screen and (max-width:700px) {

    iframe {
        height: 246px;
    }

}

@media screen and (max-width:602px) {
    #translate{
        right: 8%;
    }
    iframe {
        width: 100%;
        height: 232px;
    }
    tbody td {
        font-size: 12px;
        line-height: 1.25;
    }

}

@media screen and (max-width:500px){

    .sub-container{
        padding: 99px 0px 66px 0px;
    }
    iframe {
        height: 206px;
    }
    tbody td {
        font-size: 11px;
        line-height: 1.1;
    }
}


@media screen and (max-width:450px) {
    #translate{
        right: 20%;
    }
    .sub-container {
        width: 95%;
    }
    tbody td {
        font-size: 11px;
        line-height: 1.1;
    }
}

@media screen and (max-width:400px) {

    iframe {
        height: 188px;
    }
}
